---
import DocsLayout from '../../layouts/DocsLayout.astro'
---

<DocsLayout title="USB Modems">
  <h1>USB Modems</h1>

  <p class="lead text-xl text-neutral-600">
    Connect USB GSM modems to your server for SMS sending.
  </p>

  <div class="not-prose my-8 p-4 bg-blue-50 border border-blue-200 rounded-lg">
    <p class="text-blue-800 text-sm">
      <strong>Coming soon:</strong> USB modem support is in development. For now, use the Android app.
    </p>
  </div>

  <h2>Supported modems</h2>

  <p>We're testing compatibility with:</p>

  <ul>
    <li>Huawei E3372</li>
    <li>Huawei E1550</li>
    <li>ZTE MF190</li>
    <li>Quectel EC25</li>
  </ul>

  <h2>Get notified</h2>

  <p>
    Star the <a href="https://github.com/ender-sms/ender">GitHub repo</a> to get notified when USB modem support is released.
  </p>
</DocsLayout>
